<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.INTERNET"/>
  <!-- Some feeds are still served over plain http. -->
  <application android:label="Feeds" android:icon="@drawable/ic_launcher"
      android:allowBackup="true" android:theme="@style/Theme.Ink" android:usesCleartextTraffic="true">
    <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize|stateHidden">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <!-- Share a website or feed link to Feeds to subscribe. -->
      <intent-filter android:label="Subscribe in Feeds">
        <action android:name="android.intent.action.SEND"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:mimeType="text/plain"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
