<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <application android:label="Inkprint" android:icon="@drawable/ic_launcher"
      android:allowBackup="true" android:theme="@style/Theme.Ink">
    <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize|stateHidden">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
      <!-- "Share -> Inkprint" and "Open with -> Inkprint" from any app, to print the file. -->
      <intent-filter android:label="Print with Inkprint">
        <action android:name="android.intent.action.SEND"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:mimeType="application/pdf"/>
        <data android:mimeType="image/*"/>
        <data android:mimeType="text/plain"/>
      </intent-filter>
      <intent-filter android:label="Print with Inkprint">
        <action android:name="android.intent.action.VIEW"/>
        <category android:name="android.intent.category.DEFAULT"/>
        <data android:scheme="content"/>
        <data android:mimeType="application/pdf"/>
        <data android:mimeType="image/*"/>
        <data android:mimeType="text/plain"/>
      </intent-filter>
    </activity>
  </application>
</manifest>
